.card {  
  min-width: 270px;
  max-width: 339px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.card__trailer-link {
  text-decoration: none;
  color: #000;
  width: 100%;
}

.card__image {
  object-fit: contain;
  width: 100%;
  height: 151px;
  background-color: #000;
}

.card__description {
  display: flex;
  justify-content: space-between; 
  height: 35px; 
  margin-top: 10px;
}

.card__separator {  
  width: 100%;
  height: 1px; 
  background-color: #e8e8e8;  
  margin-top: 13px;
  margin-bottom: 6px; 
}

.card__title {
  max-width: 295px;
  height: 32px;
  margin: 4px 0 0 0;
  vertical-align: middle;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__like {
  position: relative;
  width: 24px;
  height: 24px;
  border: 0;
  background-color: #fff;
  background-image: url(../../images/unsaved.svg);
  cursor: pointer;
  z-index: 2;
}

.card__like_active {
  background-image: url(../../images/saved.svg);
}

.card__duration {
  color: #A0A0A0;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .card__title {
    font-size: 12px;   
    height: 32px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 480px) {
  .card__image {
    height: 168px;
  }
}

@media screen and (max-width: 480px) {
  .card__separator {
    margin-top: 14px;
  }
}

@media screen and (max-width: 480px) {
  .card__duration {
    font-size: 10px;    
  }
}