.not-found {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%; 
  height: 100%; 
  margin: 0 auto;
  justify-content: center;
  align-items: center;  
}

.not-found__status {
  font-family: Inter;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 246px;
  margin-bottom: 5px;  
}

.not-found__message {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 184px;
}

.not-found__go-back {
  border: 0;
  background-color: #fff;
  color: #3456F3;  
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;    
}

.not-found__go-back:hover {
  opacity: 0.7; 
}

@media screen and (max-width: 768px) {
  .not-found__status {
    margin-top: 408px;
  }
}

@media screen and (max-width: 768px) {
  .not-found__go-back {
    margin-bottom: 222px;
  }
}

@media screen and (max-width: 480px) {
  .not-found__status {
    font-size: 80px;
    margin-top: 329px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .not-found__message {
    font-size: 12px;
    margin-bottom: 284px;
  }
}

@media screen and (max-width: 480px) {
  .not-found__go-back {
    font-size: 12px;
    margin-bottom: 30px;
  }
}