.portfolio {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.portfolio__title {
  color: #A0A0A0;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 50px 0;
}

.portfolio__list {
  list-style-type: none;  
  padding: 0;
  margin: 0;
}

.list__item {
  display: block;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
  background-color: #fff;  
}

.list__item::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px; 
  background-color: #e8e8e8;  
  margin-top: 19px;
  margin-bottom: 20px; 
}

.list__item:last-child::after {
  display: none;
}

.list__link {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  text-decoration: none;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
}

.list__link:hover {
  opacity: 0.7;
}

.link__icon {  
  vertical-align: middle;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
}

@media screen and (max-width: 768px) {
  .list__link {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 768px) {
  .list__icon {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 540px) {
  .portfolio__title {
    margin-bottom: 40px;
    font-size: 14px; 
  }
}

@media screen and (max-width: 540px) {
  .list__link {
    font-size: 18px;
    letter-spacing: -0.72px;
    line-height: 28px;
  }
}

@media screen and (max-width: 540px) {
  .link__icon {
    font-size: 18px;
    letter-spacing: -0.72px;
    line-height: 28px;
  }
}

