html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
}

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./components/App/App.css);
@import url(./components/Main/Main.css);
@import url(./components/Header/Header.css);
@import url(./components/Navigation/Navigation.css);
@import url(./components/Promo/Promo.css);
@import url(./components/AboutProject/AboutProject.css);
@import url(./components/Techs/Techs.css);
@import url(./components/AboutMe/AboutMe.css);
@import url(./components/Portfolio/Portfolio.css);
@import url(./components/Footer/Footer.css);
@import url(./components/NotFound/NotFound.css);
@import url(./components/AuthForm/AuthForm.css);
@import url(./components/Register/Register.css);
